# Thay các placeholder bằng GitHub username thật, sau đó lưu file thành:
# .github/CODEOWNERS

/data/                         @member-1
/data_protocol/                @member-1
/configs/                      @member-1 @member-5
/baseline_models/              @member-2 @member-5
/padim_model/                  @member-3 @member-6
/patchcore_model/              @member-4 @member-1
/evaluation_research/          @member-5 @member-2
/deployment_report/            @member-6 @member-3
/shared/                       @member-1 @member-5 @member-6
/docs/                         @member-6
/.github/                      @member-6

